:root {
  --toolbar-bg-color: #cccccc;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navigation {
  padding-top: 60px;
}
#navigation li {
  margin-top: 5px;
}
.active_page {
  color: #3300cc;
}
.deactive_page {
  color: #6699ff;
}
.deactive_page:hover {
  color: #000033;
}

.container {
  height: 100vh;
  display: flex;
}
.nav {
  background: var(--toolbar-bg-color);
  flex: 0 0 70px;
  text-align: center;
  height: 100vh;
}
.nav ul {
  padding: 0px;
}
.nav li {
  display: inline-block;
  margin: 5px 10px;
}

#dashboard #configuration {
  text-align: center;
  color: #333366;
}

.content {
  flex: 1 1 auto;
  padding: 1px 20px 20px 20px;
  justify-content: center;
  display: flex;
  align-self: baseline;
}

#add-new-dataset-header {
  cursor: pointer;
}
.form-group {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  /* background-color: #f8f8f8; */
  resize: none;
}

.config-testdata {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
}

.section-header {
  margin-bottom: 10px;
  font-size: x-large;
  text-align: center;
}

.dataset-row {
  border: 2px solid #f2f2f2;
  padding: 7px;
  background-color: var(--toolbar-bg-color);  
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.name-icons-row ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.name-icons-row ul li{
  display: inline-block;
}

.dataset-item-row {
  border: 2px solid #cccccc;
  border-top-style: none;
  padding: 7px;
  padding-left: 20px;
  background-color: white;
  display: none;
  justify-content: space-between;
  overflow: hidden;
}
.dataset-name {
  display: block;
  float: left;
}
.item-name {
  display: block;
  float: left;
  width: 98%;
}
.item-modify {
  cursor: pointer;
  padding-left: 5px;
}

.info {
  top: 1px;
  padding: 5px;
  margin-bottom: 1px;
  text-align: center;
  min-width: 800px;
}
.ok-info {
  background: #99cc99;
  border-radius: 5px;
  visibility: visible;
}
.error-info {
  background: #ff9999;
  border-radius: 5px;
  visibility: visible;
}
.hidden-info {
  visibility: hidden;
  margin-bottom: 20px
}

.datatype {
  color: #bd7f0c;
}

.add-item {
    display: none;
    padding: 5px;
    cursor: pointer;
}

.new-item-element {
  display: none;
}

.new-item-container {
  list-style: none;
}