:root {
  --toolbar-bg-color: #b8d8d2;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navigation {
  padding-top: 60px;
}
#navigation li {
  margin-top: 5px;
}
.active_page {
  color: #65a5f6;
}
.deactive_page {
  color: #3b11e4;
}

.container {
  height: 100vh;
  display: flex;
}
.nav {
  background: var(--toolbar-bg-color);
  flex: 0 0 70px;
}
.nav ul {
  padding: 0px;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
}

#dashboard {
  text-align: center;
  color: #2c3e50;
}

.content {
  flex: 1 1 auto;
  padding: 20px;
}
